<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.taxi.mapper.PassengerUserMapper">
    <resultMap id="userResult" type="com.ruoyi.taxi.domain.PassengerUser">
        <id property="id" column="id"></id>
        <result property="openid" column="openid"></result>
        <result property="gmtCreate" column="gmt_create"></result>
        <result property="gmtModified" column="gmt_modified"></result>
        <result property="passengerName" column="passenger_name"></result>
        <result property="passengerAge" column="passenger_age"></result>
        <result property="state" column="state"></result>
        <result property="profilePhoto" column="profile_photo"></result>
        <result property="isRemind" column="isRemind"></result>
        <result property="idCardFront" column="id_card_front"></result>
        <result property="idCardAfter" column="id_card_after"></result>
        <result property="phone" column="phone"></result>
        <result property="sex" column="sex"></result>
        <result property="address" column="address"></result>
        <result property="birthday" column="birthday"></result>
        <result property="name" column="name"></result>
    </resultMap>

    <select id="selectPassengerByOpenid" resultMap="userResult" resultType="com.ruoyi.taxi.domain.PassengerUser">
        select * from passenger_user where openid = #{openid}
    </select>
    
    <select id="isFinish" resultMap="userResult" resultType="com.ruoyi.taxi.domain.PassengerUser">
        select * from passenger_user where openid = #{openid}
            <if test="phone!=null and phone != ''">
                and name != ''
                and phone != ''
                and sex != ''
                and profile_photo != ''
                and passenger_age > 0
            </if>
    </select>

    <insert id="registerUser" useGeneratedKeys="true" keyProperty="id">
        insert into passenger_user (
        <if test="phone != null and phone != ''">phone,</if>
        <if test="passengerName != null and passengerName != ''">passenger_name,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="profilePhoto != null and profilePhoto != ''">profile_photo,</if>
        <if test="passengerAge != null and passengerAge != ''">passenger_age,</if>
        <if test="openid != null and openid != ''">openid,</if>
        <if test="idCardFront != null and idCardFront != ''">id_card_front,</if>
        <if test="idCardAfter != null and idCardAfter != ''">id_card_after,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="birthday != null and birthday != ''">birthday,</if>
        <if test="name != null and name != ''">name,</if>
        gmt_create
        )values(
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="passengerName != null and passengerName != ''">#{passengerName},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="profilePhoto != null and profilePhoto != ''">#{profilePhoto},</if>
        <if test="passengerAge != null and passengerAge != ''">#{passengerAge},</if>
        <if test="openid != null and openid != ''">#{openid},</if>
        <if test="idCardFront != null and idCardFront != ''">#{idCardFront},</if>
        <if test="idCardAfter != null and idCardAfter != ''">#{idCardAfter},</if>
        <if test="address != null and address != ''">#{address},</if>
        <if test="birthday != null and birthday != ''">#{birthday},</if>
        <if test="name != null and name != ''">#{name},</if>
        now()
        )
    </insert>

    <update id="updateUser" parameterType="com.ruoyi.taxi.domain.PassengerUser">
        update passenger_user
        <set>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="passengerName != null and passengerName != ''">passenger_name = #{passengerName},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="profilePhoto != null and profilePhoto != ''">profile_photo = #{profilePhoto},</if>
            <if test="passengerAge != null and passengerAge != ''">passenger_age = #{passengerAge},</if>
            <if test="openid != null and openid != ''">openid = #{openid},</if>
            <if test="isRemind != null and isRemind != ''">is_remind = #{isRemind},</if>
            <if test="idCardFront != null and idCardFront != ''">id_card_front = #{idCardFront},</if>
            <if test="idCardAfter != null and idCardAfter != ''">id_card_after = #{idCardAfter},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            gmt_modified = sysdate()
        </set>
        where openid = #{openid}
    </update>
</mapper>