<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.taxi.mapper.PassengerUserMapper">
    <resultMap id="userResult" type="com.ruoyi.taxi.domain.PassengerUser">
        <id property="id" column="id"></id>
        <result property="openid" column="openid"></result>
        <result property="gmtCreate" column="gmt_create"></result>
        <result property="gmtModified" column="gmt_modified"></result>
        <result property="passengerName" column="passenger_name"></result>
        <result property="state" column="state"></result>
        <result property="profilePhoto" column="profile_photo"></result>
        <result property="phone" column="phone"></result>
    </resultMap>

    <select id="selectPassengerByOpenid" resultMap="userResult" resultType="com.ruoyi.taxi.domain.PassengerUser">
        select * from passenger_user where openid = #{openid}
    </select>

    <select id="isFinish" resultMap="userResult" resultType="com.ruoyi.taxi.domain.PassengerUser">
        select * from passenger_user where openid = #{openid}
        <if test="phone!=null and phone != ''">
            and phone != ''
        </if>
    </select>

    <insert id="registerUser" useGeneratedKeys="true" keyProperty="id">
        insert into passenger_user (
        <if test="phone != null and phone != ''">phone,</if>
        <if test="passengerName != null and passengerName != ''">passenger_name,</if>
        <if test="profilePhoto != null and profilePhoto != ''">profile_photo,</if>
        <if test="openid != null and openid != ''">openid,</if>
        gmt_create
        )values(
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="passengerName != null and passengerName != ''">#{passengerName},</if>
        <if test="profilePhoto != null and profilePhoto != ''">#{profilePhoto},</if>
        <if test="openid != null and openid != ''">#{openid},</if>
        #{gmtCreate})
    </insert>

    <update id="updateUser" parameterType="com.ruoyi.taxi.domain.PassengerUser">
        update passenger_user
        <set>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="passengerName != null and passengerName != ''">passenger_name = #{passengerName},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="profilePhoto != null and profilePhoto != ''">profile_photo = #{profilePhoto},</if>
            <if test="openid != null and openid != ''">openid = #{openid},</if>
            gmt_modified = sysdate()
        </set>
        where openid = #{openid}
    </update>
</mapper>