<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.driver.mapper.DictionMapper">


    <select id="selectDic" resultType="com.ruoyi.driver.domain.DicDistrict">
        select address_code,address_name,parent_address_code,level from dic_district
    </select>
</mapper>