<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.coupons.mapper.CouponsGetMapper">
    <insert id="associateUserWithCoupon">
        insert into coupons_get
        set user_id=#{userId}, coupon_id =#{couponId}, receive_time=now()
    </insert>
    <insert id="couponsReceive">

insert into coupons_get set user_id=#{userId} , coupon_id =#{couponId},coupon_status=0,receive_time=now()

    </insert>
    <update id="updateCouponStatus">
        update coupons_get set coupon_status = 1 where user_id = #{userId} and coupon_id = #{couponId}
    </update>
    <select id="usableCoupon" resultType="com.ruoyi.coupons.domain.TbCoupons">
        SELECT b.coupons_number,b.coupons_name,b.coupons_amount from coupons_get a,tb_coupons b where a.coupon_id = b.id and a.user_id = #{userId} and a.coupon_status = 0 ORDER BY b.coupons_amount
    </select>
</mapper>