<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.coupons.mapper.CouponsLogMapper">

    <insert id="insertLog" useGeneratedKeys="true" keyProperty="id">
        insert into coupons_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="couponId != null">coupon_id,</if>
            <if test="orderId != null">order_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="couponId != null">#{couponsId},</if>
            <if test="orderId != null">#{orderId},</if>
        </trim>
    </insert>
</mapper>