<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.coupons.mapper.TbCouponsMapper">

    <resultMap type="TbCoupons" id="TbCouponsResult">
        <result property="id" column="id"/>
        <result property="couponsNumber" column="coupons_number"/>
        <result property="couponsName" column="coupons_name"/>
        <result property="couponsAmount" column="coupons_amount"/>
        <result property="couponHold" column="coupon_hold"/>
        <result property="couponsType" column="coupons_type"/>
        <result property="receiveCount" column="receive_count"/>
        <result property="couponsCreateDate" column="coupons_create_date"/>
        <result property="couponsExpirationDate" column="coupons_expiration_date"/>
        <result property="couponsStatus" column="coupons_status"/>
    </resultMap>

    <sql id="selectTbCouponsVo">
        select id,
               coupons_number,
               coupons_name,
               coupons_amount,
               coupon_hold,
               coupons_type,
               receive_count,
               coupons_create_date,
               coupons_expiration_date,
               coupons_status
        from tb_coupons
    </sql>

    <select id="couponsList" parameterType="TbCoupons" resultMap="TbCouponsResult">
        select c.*,t.type_name , DATEDIFF(c.coupons_expiration_date, c.coupons_create_date) as days from tb_coupons c
        left join coupons_type t
        on c.coupons_type =t.id
        <where>
            <if test="couponsName != null  and couponsName != ''">and coupons_name like concat('%', #{couponsName}, '%')
            </if>
            <if test="couponsType != null ">and coupons_type = #{couponsType}</if>
            <if test="couponsStatus != null ">and coupons_status = #{couponsStatus}</if>
        </where>
        ORDER BY c.id
    </select>


    <select id="couponsInfo" resultType="com.ruoyi.coupons.domain.TbCoupons">
        select c.*, t.type_name
        from tb_coupons c
                 left join coupons_type t
                           on c.coupons_type = t.id
        where c.id = #{id}
    </select>


    <insert id="insertTbCoupons" parameterType="TbCoupons" useGeneratedKeys="true" keyProperty="id">
        insert into tb_coupons
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponsNumber != null">coupons_number,</if>
            <if test="couponsName != null">coupons_name,</if>
            <if test="couponsAmount != null">coupons_amount,</if>
            <if test="couponHold != null">coupon_hold,</if>
            <if test="couponsType != null">coupons_type,</if>
            <if test="receiveCount != null">receive_count,</if>
            <if test="couponsCreateDate != null">coupons_create_date,</if>
            <if test="couponsExpirationDate != null">coupons_expiration_date,</if>
            <if test="couponsStatus != null">coupons_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponsNumber != null">#{couponsNumber},</if>
            <if test="couponsName != null">#{couponsName},</if>
            <if test="couponsAmount != null">#{couponsAmount},</if>
            <if test="couponHold != null">#{couponHold},</if>
            <if test="couponsType != null">#{couponsType},</if>
            <if test="receiveCount != null">#{receiveCount},</if>
            <if test="couponsCreateDate != null">#{couponsCreateDate},</if>
            <if test="couponsExpirationDate != null">#{couponsExpirationDate},</if>
            <if test="couponsStatus != null">#{couponsStatus},</if>
        </trim>
    </insert>

    <update id="updateTbCoupons" parameterType="TbCoupons">
        update tb_coupons
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponsNumber != null">coupons_number = #{couponsNumber},</if>
            <if test="couponsName != null">coupons_name = #{couponsName},</if>
            <if test="couponsAmount != null">coupons_amount = #{couponsAmount},</if>
            <if test="couponHold != null">coupon_hold = #{couponHold},</if>
            <if test="couponsType != null">coupons_type = #{couponsType},</if>
            <if test="receiveCount != null">receive_count = #{receiveCount},</if>
            <if test="couponsCreateDate != null">coupons_create_date = #{couponsCreateDate},</if>
            <if test="couponsExpirationDate != null">coupons_expiration_date = #{couponsExpirationDate},</if>
            <if test="couponsStatus != null">coupons_status = #{couponsStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateCountById">
        update tb_coupons
        set receive_count=#{couponCount}
        where id = #{id}
          and receive_count > 0
    </update>
    <update id="startCoupons">
        update tb_coupons set coupons_status = #{couponsStatus} where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteTbCouponsById" parameterType="Long">
        delete
        from tb_coupons
        where id = #{id}
    </delete>

    <delete id="deleteTbCouponsByIds" parameterType="String">
        delete from tb_coupons where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTbCouponsList" parameterType="TbCoupons" resultMap="TbCouponsResult">
        select c.*,t.type_name , DATEDIFF(c.coupons_expiration_date, c.coupons_create_date) as days from tb_coupons c
        left join coupons_type t
        on c.coupons_type =t.id
        <where>
            <if test="couposName != null  and couposName != ''">and coupos_name like concat('%', #{couposName}, '%')
            </if>
            <if test="couponsType != null ">and coupons_type = #{couponsType}</if>
            <if test="couponsStatus != null ">and coupons_status = #{couponsStatus}</if>
        </where>
    </select>
    <select id="findStartCouponsByIds" resultType="com.ruoyi.coupons.domain.TbCoupons">
        select * from tb_coupons where id in
        <foreach collection="ids" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>