<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.approve.mapper.CarApproveMapper">
    
    <resultMap type="com.ruoyi.approve.domain.TbCar" id="CarResult">
        <result property="id"    column="id"    />
        <result property="address"    column="address"    />
        <result property="vehicleNo"    column="vehicle_no"    />
        <result property="plateColor"    column="plate_color"    />
        <result property="seats"    column="seats"    />
        <result property="brand"    column="brand"    />
        <result property="model"    column="model"    />
        <result property="vehicleType"    column="vehicle_type"    />
        <result property="ownerName"    column="owner_name"    />
        <result property="vehicleColor"    column="vehicle_color"    />
        <result property="engineId"    column="engine_id"    />
        <result property="vin"    column="vin"    />
        <result property="certifyDateA"    column="certify_date_a"    />
        <result property="fueType"    column="fue_type"    />
        <result property="engineDisplace"    column="engine_displace"    />
        <result property="transAgency"    column="trans_agency"    />
        <result property="transArea"    column="trans_area"    />
        <result property="transDateStart"    column="trans_date_start"    />
        <result property="transDateEnd"    column="trans_date_end"    />
        <result property="certifyDateB"    column="certify_date_b"    />
        <result property="fixState"    column="fix_state"    />
        <result property="nextFixDate"    column="next_fix_date"    />
        <result property="checkState"    column="check_state"    />
        <result property="feePrintId"    column="fee_print_id"    />
        <result property="gpsBrand"    column="gps_brand"    />
        <result property="gpsModel"    column="gps_model"    />
        <result property="gpsInstallDate"    column="gps_install_date"    />
        <result property="registerDate"    column="register_date"    />
        <result property="commercialType"    column="commercial_type"    />
        <result property="fareType"    column="fare_type"    />
        <result property="state"    column="state"    />
        <result property="tid"    column="tid"    />
        <result property="trid"    column="trid"    />
        <result property="trname"    column="trname"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="carPicture"    column="car_picture"    />
        <result property="brandName"    column="brand_name"    />
        <result property="brandId"    column="brand_id"    />
        <result property="pinyinCar"    column="pinyin_car"    />
        <result property="pinyinBrand"    column="pinyin_brand"    />
        <result property="owerStatus"    column="ower_status"    />
    </resultMap>

    <sql id="selectCarVo">
        select id, address, vehicle_no, plate_color, seats, brand, model, vehicle_type, owner_name, vehicle_color, engine_id, vin, certify_date_a, fue_type, engine_displace, trans_agency, trans_area, trans_date_start, trans_date_end, certify_date_b, fix_state, next_fix_date, check_state, fee_print_id, gps_brand, gps_model, gps_install_date, register_date, commercial_type, fare_type, state, tid, trid, trname, gmt_create, gmt_modified, car_picture, brand_name, brand_id, pinyin_car, pinyin_brand, ower_status from car
    </sql>

    <select id="selectCarList" parameterType="com.ruoyi.approve.domain.TbCar" resultMap="CarResult">
        <include refid="selectCarVo"/>
        <where>  
            <if test="vehicleNo != null  and vehicleNo != ''"> and vehicle_no = #{vehicleNo}</if>
            <if test="brandName != null  and brandName != ''"> and brand_name like concat('%', #{brandName}, '%')</if>
            <if test="pinyinCar != null  and pinyinCar != ''"> and pinyin_car like concat('%', #{pinyinCar}, '%')</if>
            <if test="pinyinBrand != null  and pinyinBrand != ''"> and pinyin_brand  like concat('%', #{pinyinBrand}, '%')</if>
        </where>
    </select>
    
    <select id="selectCarById" parameterType="Long" resultMap="CarResult">
        <include refid="selectCarVo"/>
        where id = #{id}
    </select>

    <insert id="insertCar" parameterType="com.ruoyi.approve.domain.TbCar" useGeneratedKeys="true" keyProperty="id">
        insert into car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null">address,</if>
            <if test="vehicleNo != null">vehicle_no,</if>
            <if test="plateColor != null">plate_color,</if>
            <if test="seats != null">seats,</if>
            <if test="brand != null">brand,</if>
            <if test="model != null">model,</if>
            <if test="vehicleType != null">vehicle_type,</if>
            <if test="ownerName != null">owner_name,</if>
            <if test="vehicleColor != null">vehicle_color,</if>
            <if test="engineId != null">engine_id,</if>
            <if test="vin != null">vin,</if>
            <if test="certifyDateA != null">certify_date_a,</if>
            <if test="fueType != null">fue_type,</if>
            <if test="engineDisplace != null">engine_displace,</if>
            <if test="transAgency != null">trans_agency,</if>
            <if test="transArea != null">trans_area,</if>
            <if test="transDateStart != null">trans_date_start,</if>
            <if test="transDateEnd != null">trans_date_end,</if>
            <if test="certifyDateB != null">certify_date_b,</if>
            <if test="fixState != null">fix_state,</if>
            <if test="nextFixDate != null">next_fix_date,</if>
            <if test="checkState != null">check_state,</if>
            <if test="feePrintId != null">fee_print_id,</if>
            <if test="gpsBrand != null">gps_brand,</if>
            <if test="gpsModel != null">gps_model,</if>
            <if test="gpsInstallDate != null">gps_install_date,</if>
            <if test="registerDate != null">register_date,</if>
            <if test="commercialType != null">commercial_type,</if>
            <if test="fareType != null">fare_type,</if>
            <if test="state != null">state,</if>
            <if test="tid != null">tid,</if>
            <if test="trid != null">trid,</if>
            <if test="trname != null">trname,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="carPicture != null">car_picture,</if>
            <if test="brandName != null">brand_name,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="pinyinCar != null">pinyin_car,</if>
            <if test="pinyinBrand != null">pinyin_brand,</if>
            <if test="owerStatus != null">ower_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="address != null">#{address},</if>
            <if test="vehicleNo != null">#{vehicleNo},</if>
            <if test="plateColor != null">#{plateColor},</if>
            <if test="seats != null">#{seats},</if>
            <if test="brand != null">#{brand},</if>
            <if test="model != null">#{model},</if>
            <if test="vehicleType != null">#{vehicleType},</if>
            <if test="ownerName != null">#{ownerName},</if>
            <if test="vehicleColor != null">#{vehicleColor},</if>
            <if test="engineId != null">#{engineId},</if>
            <if test="vin != null">#{vin},</if>
            <if test="certifyDateA != null">#{certifyDateA},</if>
            <if test="fueType != null">#{fueType},</if>
            <if test="engineDisplace != null">#{engineDisplace},</if>
            <if test="transAgency != null">#{transAgency},</if>
            <if test="transArea != null">#{transArea},</if>
            <if test="transDateStart != null">#{transDateStart},</if>
            <if test="transDateEnd != null">#{transDateEnd},</if>
            <if test="certifyDateB != null">#{certifyDateB},</if>
            <if test="fixState != null">#{fixState},</if>
            <if test="nextFixDate != null">#{nextFixDate},</if>
            <if test="checkState != null">#{checkState},</if>
            <if test="feePrintId != null">#{feePrintId},</if>
            <if test="gpsBrand != null">#{gpsBrand},</if>
            <if test="gpsModel != null">#{gpsModel},</if>
            <if test="gpsInstallDate != null">#{gpsInstallDate},</if>
            <if test="registerDate != null">#{registerDate},</if>
            <if test="commercialType != null">#{commercialType},</if>
            <if test="fareType != null">#{fareType},</if>
            <if test="state != null">#{state},</if>
            <if test="tid != null">#{tid},</if>
            <if test="trid != null">#{trid},</if>
            <if test="trname != null">#{trname},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
            <if test="carPicture != null">#{carPicture},</if>
            <if test="brandName != null">#{brandName},</if>
            <if test="brandId != null">#{brandId},</if>
            <if test="pinyinCar != null">#{pinyinCar}</if>
            <if test="pinyinBrand != null">#{pinyinBrand}</if>
            <if test="owerStatus != null">#{owerStatus},</if>
         </trim>
    </insert>

    <update id="updateCar" parameterType="com.ruoyi.approve.domain.TbCar">
        update car
        <trim prefix="SET" suffixOverrides=",">
            <if test="address != null">address = #{address},</if>
            <if test="vehicleNo != null">vehicle_no = #{vehicleNo},</if>
            <if test="plateColor != null">plate_color = #{plateColor},</if>
            <if test="seats != null">seats = #{seats},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="model != null">model = #{model},</if>
            <if test="vehicleType != null">vehicle_type = #{vehicleType},</if>
            <if test="ownerName != null">owner_name = #{ownerName},</if>
            <if test="vehicleColor != null">vehicle_color = #{vehicleColor},</if>
            <if test="engineId != null">engine_id = #{engineId},</if>
            <if test="vin != null">vin = #{vin},</if>
            <if test="certifyDateA != null">certify_date_a = #{certifyDateA},</if>
            <if test="fueType != null">fue_type = #{fueType},</if>
            <if test="engineDisplace != null">engine_displace = #{engineDisplace},</if>
            <if test="transAgency != null">trans_agency = #{transAgency},</if>
            <if test="transArea != null">trans_area = #{transArea},</if>
            <if test="transDateStart != null">trans_date_start = #{transDateStart},</if>
            <if test="transDateEnd != null">trans_date_end = #{transDateEnd},</if>
            <if test="certifyDateB != null">certify_date_b = #{certifyDateB},</if>
            <if test="fixState != null">fix_state = #{fixState},</if>
            <if test="nextFixDate != null">next_fix_date = #{nextFixDate},</if>
            <if test="checkState != null">check_state = #{checkState},</if>
            <if test="feePrintId != null">fee_print_id = #{feePrintId},</if>
            <if test="gpsBrand != null">gps_brand = #{gpsBrand},</if>
            <if test="gpsModel != null">gps_model = #{gpsModel},</if>
            <if test="gpsInstallDate != null">gps_install_date = #{gpsInstallDate},</if>
            <if test="registerDate != null">register_date = #{registerDate},</if>
            <if test="commercialType != null">commercial_type = #{commercialType},</if>
            <if test="fareType != null">fare_type = #{fareType},</if>
            <if test="state != null">state = #{state},</if>
            <if test="tid != null">tid = #{tid},</if>
            <if test="trid != null">trid = #{trid},</if>
            <if test="trname != null">trname = #{trname},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
            <if test="carPicture != null">car_picture = #{carPicture},</if>
            <if test="brandName != null">brand_name = #{brandName},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="pinyinCar != null">pinyin_car = #{pinyinCar},</if>
            <if test="pinyinBrand != null">pinyin_brand = #{pinyinBrand},</if>
            <if test="owerStatus != null">ower_status = #{owerStatus},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateCarStatus">
        update car set state = #{state} where id = #{id}
    </update>

    <delete id="deleteCarById" parameterType="Long">
        delete from car where id = #{id}
    </delete>

    <delete id="deleteCarByIds" parameterType="String">
        delete from car where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>